.xs-banner{
  background: #6e00ff;
  display: flex;
  -webkit-box-align: center;
  position: relative;
  overflow: hidden;
  height: 100%;
  padding-bottom: 50px;
  z-index: 1;
  border-radius: 40px;
  border: 1px solid white;
}

.image-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-ico-1{
  left: 24.5%;
  top: 3%;
  animation: bounce 1s ease-in-out 0s infinite alternate;
}
.h4, .h5, h4, h5{
  font-weight: 500;
}

@keyframes bounce {
  0%   {left: 24.5%; top:0px;}
  75%  {left: 24.5%; top:15px;}
  100% {left: 24.5%; top:0px;}
}

.banner-ico-2{
  left: inherit;
  right: 39%;
  top: -0.5%;
  animation: bounce2 1s ease-in-out 0s infinite alternate;
}

@keyframes bounce2 {
  0%   {right: 39%; top:0px;}
  75%  {right: 39%; top: 5px;}
  100% {right: 39%; top:0px;}
}


.banner-ico-3{
  top: 35%;
  left: 33%;
  animation: bounce3 1s ease-in-out 0s infinite alternate;
}

@keyframes bounce3 {
  0%   {left: 33%; top: 30%;}
  75%  {left: 33%; top: 35%;}
  100% {left: 33%; top: 30%;}
}

.banner-ico-4{
  top: 40%;
  right: 31%;
  animation: bounce4 1s ease-in-out 0s infinite alternate;
}

@keyframes bounce4 {
  0%   {right: 31%; top: 35%;}
  75%  {right: 31%; top: 40%;}
  100% {right: 31%; top: 35%;}
}

.banner-ico{
  position: absolute;
}

.short-group{
  position: relative;
  height: 80px;
  background-color: white;
  border-radius: 40px;
}

.link-input{
  height: 100%;
  max-width: 100%;
}

.group-button{
  position: absolute;
  right: 13px;
  top: 13px;
}

.xs-section-padding{
  padding-top: 100px;
  padding-bottom: 100px;
}

.info-icon-2{
  position: absolute;
}

.icon-1{
  bottom: 25%;
  left: 2%;
  animation: icon1-bounce 1s ease-in-out 0s infinite alternate;
}

@keyframes icon1-bounce {
  0%   {left: 2%; bottom: 25%;}
  75%  {left: 2%; bottom: 20%;}
  100% {left: 2%; bottom: 25%;}
}

.icon-2{
  bottom: 50%;
  left: 2%;
  animation: icon2-bounce 1s ease-in-out 0s infinite alternate;
}

@keyframes icon2-bounce {
  0%   {left: 2%; bottom: 50%;}
  75%  {left: 2%; bottom: 48%;}
  100% {left: 2%; bottom: 50%;}
}

.icon-3{
  left: 14%;
  bottom: 70%;
  animation: icon3-bounce 1s ease-in-out 0s infinite alternate;
}

@keyframes icon3-bounce {
  0%   {left: 14%; bottom: 70%;}
  75%  {left: 14%; bottom: 66%;}
  100% {left: 14%; bottom: 70%;}
}

.icon-4{
  bottom: 59%;
  left: 35.5%;
  animation: icon4-bounce 1s ease-in-out 0s infinite alternate;
}

@keyframes icon4-bounce {
  0%   {left: 35.5%; bottom: 59%;}
  75%  {left: 35.5%; bottom: 55%;}
  100% {left: 35.5%; bottom: 59%;}
}

ul {
  list-style: none;
}

ul li:before {
  content: '✓';
  margin-right: 5px;
  font-weight: 900;
  color: rgb(110, 0, 255);
}

.nav-item:before{
  content: '';
}

.hungnh-icon{
  width: 40px;
}

.post-meta{
  border-left: 0.3rem solid rgb(110, 0, 255);
}

.entry-header{
  position: absolute;
  padding: 1rem 0 3rem 0;
  left: 3rem;
  right: 3rem;
  transform: translateY(70%);
  background-color: white;
  bottom: 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .entry-header{
    position: absolute;
    padding: 1rem 0 3rem 0;
    left: 3rem;
    right: 3rem;
    transform: translateY(-40%);
    background-color: white;
    bottom: 0;
    text-align: center;
  }

  .link-input{
    height: 100%;
    max-width: 100%;
  }

  .short-group{
    height: 130px;
  }
  .merge-group{
    height: 70px;
  }

  .group-button{
    position: static;
    left: 10px;
    bottom: 0;
    text-align: initial;
    justify-content: flex-start !important;
    height: 50px;
  }

  @media only screen and (max-width: 768px) {
    .group-button{
      display: flex;
      justify-content: center !important;
    }
  }
}