.global-loading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.4);
}
.loading-image{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
}